/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f5f9;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
  
  header {
    background-color: #3c7782;
    padding: 20px 0;
  }
  
  header img {
    border-radius: 50%;
  }
  .navbar-nav{
    padding: 10px !important;
    font-size: 20px;
  }

  .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link.active {
    color: #c25352 !important;
  }
  
  main h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    color: #6c757d;
  }
  
  .main-content p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: #6c757d;
  }
  
  .row{
    display: flex;
  }
  .column {
    flex: 25%;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .column img {
    width:200px;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .column img:hover {
    transform: scale(1.05);
  }
  
  .column h3 {
    margin-top: 15px;
    font-size: 1.2rem;
    color:#489ee8;
  }
  
  .column p {
    color:#6c757d;
    font-size: 1.0rem;
    margin:0;
  }
  
  footer{
    padding-top: 1.5em;
    background-color:#254950;
    color:#fff;
    text-align:center;
  }
  
  .grid{
    display:grid;
    grid-template-columns:1fr 1fr;
  }
  
  
  footer h3{
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
  footer a {
    color:#c25352;
    margin: 0 10px;
    font-size: 1.5rem;
  }
  
  footer a:hover {
    color: #fff;
  }
  
  footer p {
    font-size:15px;
    margin-bottom:10px;
  }
  
  footer h6{
    font-size:12px;
    letter-spacing: 1px;
  } 