/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color:#f3f5f9;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  header {
    background-color:#3c7782;
    padding: 20px 0;
  }

  .navbar-nav {
    padding: 10px !important;
    font-size: 20px;
  }
  
  header img {
    border-radius: 50%;
  }
  
  .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link.active {
    color: #c25352 !important;
  }
  
  .nav-link, .btn{
    text-decoration: none;
  }

 .row{
    width:100%;
 }

 #booksCarousel{
    width: 800;
    height: 600%;
  }

  #booksCarousel .carousel-inner{
    width: 100%;
    height: 100%;
  }

  #booksCarousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #books {
    background-color:#35ccbe;
    border: 1px transparent;
    border-radius: 2%;
    padding: 15px;
    margin: 15px;
  }

  .btn{
    background-color:#489ee8;
    border-color: transparent;
    margin-top: 15px;
    padding: 15px;
    font-size:1.2rem;
    color:#fff;
  }

  #about-us{
    background-color:#35ccbe;
    border-radius: 2%;
    padding: 15px;
    margin: 15px;
  }

  #about-us img{
    width:600px;
  }

  #about-us p {
    color:#fff;
    font-size: 1.2rem;
  }
  

  h1{
    font-size: 2.2rem;
    color:#6c757d;
    text-align: center;
  }

  .books-content{
    text-align:center;
    font-size:1.4rem;
    color:#fff;
  }  
  
  .right-column {
    flex: 0 0 auto;
    width: 70%;
    height: 70%;
    align-items: center;
    text-align: center;
  }

  .teas-col, .candles-col{
    width: 100%;
    }

p{
margin-top: 10px;
margin-bottom:10px;
font-size: 1.2rem;
color:#6c757d;
}
      
.row {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

.column {
    width: 30%;
    padding: 15px;
  }

  .card {
    padding: 25px;
    margin: 15px;
  }

  .card {
    background-color: #e7e9ec;
    color:#489ee8;
    padding: 25px;
    margin: 15px;
  }
  
  footer{
    padding-top: 1.5em;
    background-color:#254950;
    color:#fff;
    text-align:center;
  }
  
  .grid{
    display:grid;
    grid-template-columns:1fr 1fr;
  }
  
  
  footer h3{
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
  footer a {
    color:#c25352;
    margin: 0 10px;
    font-size: 1.5rem;
  }
  
  footer a:hover {
    color: #fff;
  }
  
  footer p {
    color:#fff;
    font-size:15px;
    margin-bottom:10px;
  }
  
  footer h6{
    font-size:12px;
    letter-spacing: 1px;
  } 
  
  @media (max-width: 768px) {
    #booksCarousel {
      width: 100%;
      height: auto;
    }
  }
  
      