/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color:#f3f5f9;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color:#3c7782;
  padding: 20px 0;
}

.navbar-nav {
  padding: 10px !important;
  font-size: 20px;
}

header img {
  border-radius: 50%;
}

.navbar-nav .nav-link {
  color: #fff !important;
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  color: #c25352 !important;
}

.nav-link, .btn{
  text-decoration: none;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #489ee8;
  border-radius: 5px;
  width: 600px;
}

.form-column {
  width: 45%;
  padding: 20px;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color:#489ee8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius:5px;
  cursor: pointer;
}

button:hover {
  background-color: #489ee8; 

}

footer{
  padding-top: 1.5em;
  background-color:#254950;
  color:#fff;
  text-align:center;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
}


footer h3{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

footer a {
  color:#c25352;
  margin: 0 10px;
  font-size: 1.5rem;
}

footer a:hover {
  color: #fff;
}

footer p {
  font-size:15px;
  margin-bottom:10px;
}

footer h6{
  font-size:12px;
  letter-spacing: 1px;
} 



